<footer>
    <div class="footer">
        <h4>aFihrSite</h4>
        <h6>All trademarks referenced herein are the properties of their respective owners</h6>
        <h6>©CAPCOM CO., LTD. 2021, 2022 ALL RIGHTS RESERVED.</h6>
    </div>
</footer>
</body>
</html>