<%- include('./includes/header') %>
   
<%- include('./includes/navBar') %>

<main class="page01">



    <div class="gallery-image">
        <div>
            <img  src="../img/gallery01.webp" alt="image from MonsterHunter Wilds">
        </div>
        <div>
            <img src="../img/gallery02.webp" alt="image from MonsterHunter Wilds">
        </div>
        <div>
            <img src="../img/gallery03.webp" alt="image from MonsterHunter Wilds">
        </div>
        <div>
            <img src="../img/gallery04.webp" alt="image from MonsterHunter Wilds">
        </div>
        <div>
            <img src="../img/gallery05.webp" alt="image from MonsterHunter Wilds">
        </div>
        <div>
            <img src="../img/gallery06.webp" alt="image from MonsterHunter Wilds">
        </div>
        <div>
            <img src="../img/gallery07.webp" alt="image from MonsterHunter Wilds">
        </div>
        <div>
            <img src="../img/gallery08.webp" alt="image from MonsterHunter Wilds">
        </div>

    </div>
</main>

<%- include('./includes/footer') %>>
