<%- include('./includes/header') %>
   
<%- include('./includes/navBar') %>

    <main>
        <img class="mainLogo" src="../../public/img/logo_F.webp">
    </main>

<%- include('./includes/footer') %>>



